textarea[placeholder] {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input[placeholder] {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input::-webkit-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

textarea::-webkit-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

textarea:-ms-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

[class*="btn"] {
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  width: 100%;
}

.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  transition: 0.3s;
  user-select: none;
  width: 30px;
  background: transparent;
  outline: none;
  top: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.tcon > * {
  display: block;
}

.tcon:hover, .tcon:focus {
  outline: none;
}

.tcon::-moz-focus-inner {
  border: 0;
}

.tcon-menu__lines {
  display: inline-block;
  height: 3px;
  width: 30px;
  border-radius: 2.14286px;
  transition: 0.3s;
  background: #999;
  position: relative;
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 3px;
  width: 30px;
  border-radius: 2.14286px;
  transition: 0.3s;
  background: #999;
  content: '';
  position: absolute;
  left: 0;
  transform-origin: 2.14286px center;
  width: 100%;
}

.tcon-menu__lines::before {
  top: 7.5px;
}

.tcon-menu__lines::after {
  top: -7.5px;
}

.tcon-transform .tcon-menu__lines {
  transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xcross {
  width: auto;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform-origin: 50% 50%;
  top: 0;
  width: 30px;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

[class*="brandico-"]::before {
  font-family: 'brandico', sans-serif;
}
