@mixin transition($tempo) {
    -webkit-transition: all ease-out $tempo;
    -moz-transition: all ease-out $tempo;
    -ms-transition: all ease-out $tempo;
    -o-transition: all ease-out $tempo;
    transition: all ease-out $tempo;
}

@mixin animation($tempo,$animation) {
    -webkit-animation: $animation $tempo ease;
    -moz-animation: $animation $tempo ease;
    -ms-animation: $animation $tempo ease;
    -o-animation: $animation $tempo ease;
    animation: $animation $tempo ease;
}

@mixin height($tempo) {
    -webkit-transition: max-height $tempo;
    -moz-transition: max-height $tempo;
    -ms-transition: max-height $tempo;
    -o-transition: max-height $tempo;
    transition: max-height $tempo;
}

@mixin border($radius) {
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin shadow($val1, $val2, $val3, $val4, $cor) {
    -webkit-box-shadow: $val1 $val2 $val3 $val4 $cor;
    -ms-box-shadow: $val1 $val2 $val3 $val4 $cor;
    -moz-box-shadow: $val1 $val2 $val3 $val4 $cor;
    box-shadow: $val1 $val2 $val3 $val4 $cor;
}

@mixin background($size) {
    -webkit-background-size: $size;
    -ms-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
} 

@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow wrap;
    -ms-flex-flow: $flow wrap;
    flex-flow: $flow wrap;
}

@mixin flex($flex){
  -webkit-flex: $flex;         
  -moz-flex: $flex;            
  -ms-flex: $flex;                    
  flex: $flex; 
}

@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-flex-align: $align;
    -ms-flex-align: $align;
    align-items: $align;     
}

@mixin scale($size){
  -webkit-transform: scale($size);  
      -ms-transform: scale($size);  
          transform: scale($size);    
}

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}
